In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = "D:\Data\loan_final313.csv"

In [3]:
df = pd.read_csv(data_path, nrows=100)

In [4]:
df.shape

(100, 30)

In [5]:
df.head()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster

In [6]:
print([x for x in df.columns])

['id', 'year', 'issue_d', 'final_d', 'emp_length_int', 'home_ownership', 'home_ownership_cat', 'income_category', 'annual_inc', 'income_cat', 'loan_amount', 'term', 'term_cat', 'application_type', 'application_type_cat', 'purpose', 'purpose_cat', 'interest_payments', 'interest_payment_cat', 'loan_condition', 'loan_condition_cat', 'interest_rate', 'grade', 'grade_cat', 'dti', 'total_pymnt', 'total_rec_prncp', 'recoveries', 'installment', 'region']